.dashboardFooter {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  & .links {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: var(--teal-400);
    }
  }

  & .copywright {
    color: var(--jacarta-400);
  }

  & p {
    font-style: italic;
    color: var(--jacarta-400);
  }
}
