.nav {
  background: hsla(0, 0%, 100%, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--jacarta-700);
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 900;
  width: 100%;

  @media (min-width: 1024px) {
    padding-left: 20rem;
  }

  & .brandContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .brand {
    font-weight: 700;
    font-size: 1.125rem;
  }

  & .actions {
    display: flex;
    gap: 2rem;
    align-items: center;
    position: relative;
  }

  & .menu {
    display: none;
    cursor: pointer;
    @media (max-width: 1024px) {
      display: block;
    }
  }

  & .profileContainer {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 0.9rem;

    & > svg {
      font-size: 2rem;
      color: var(--blue-400);
    }

    & .displayName {
      color: var(--jacarta-700);
      text-transform: capitalize;
    }
    & > span {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      & > p {
        text-transform: capitalize;
      }

      & span {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        cursor: pointer;

        & > svg {
          font-size: 0.95rem;
        }
      }
    }
  }

  & .dropDown {
    position: absolute;
    top: 3rem;
    background: var(--white);
    width: 20rem;
    right: 0;
    border-radius: 5px;
    padding: 1rem 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    & .top {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
    }
    & .balanceTitle {
      color: var(--jacarta-400);
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 600;
    }

    & .balance {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      color: var(--blue-500);
      font-size: 0.9rem;
      & b {
        font-size: 1.3rem;
      }

      & span:last-child {
        color: var(--teal-400);
        & b {
          font-size: 0.9rem;
          color: var(--teal-400);
        }
      }
    }

    & .quickAction {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: var(--teal-400);
      cursor: pointer;

      & svg {
        font-size: 0.9rem;
      }
    }

    & hr {
      margin: 1rem 0;
      border: var(--card-border);
    }

    & .quickLinksContainer {
      display: flex;
      flex-direction: column;
    }
    & .linkItem {
      font-size: 0.9rem;
      width: 100%;

      & svg {
        font-size: 1.2rem;
        color: var(--jacarta-500);
      }
      & a,
      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--jacarta-500);
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        width: 100%;
        border: none;
        background: none;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
  }
}
