.investmentPlansGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & .investmentPlanCard {
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    & header {
      border-bottom: var(--card-border);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;

      & > div {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-between;
        gap: 1rem;

        & p {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          & :first-child {
            color: var(--jacarta-700);
          }
          & :last-child {
            color: var(--jacarta-400);
          }
        }
      }
    }

    & h1 {
      color: var(--jacarta-500);
      font-size: 1.25rem;
      text-align: center;
    }
    & .description {
      color: var(--jacarta-400);
      text-align: center;
      font-size: 0.9rem;
      max-width: 500px;
        overflow-wrap: break-word; 
    }

    & .content {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      gap: 1.5rem;

      & li {
        display: flex;
        justify-content: space-between;
        color: var(--jacarta-400);
      }
    }

    & a {
        align-self: center;
    }
  }
}
