.kycGridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;

    & p {
        color: var(--jacarta-400);
      & a {
        text-decoration: none;
        color: var(--teal-400);
      }
    }
  }
  .kycGrid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    border-top: var(--card-border);
    border-left: var(--card-border);
    border-right: var(--card-border);

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    & .kycCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem;
      border-bottom: var(--card-border);
      cursor: pointer;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        box-shadow: var(--card-box-shadow-hover);
      }
      & span {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & p:first-child {
          font-size: 1rem;
          color: var(--jacarta-400);
        }

        & p:last-child {
          font-size: 1rem;
          color: var(--jacarta-500);
        }
      }

      & svg {
        color: var(--jacarta-400);
        font-size: 0.9rem;
      }
    }
  }
}
