.makeAdminFormContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h2 {
    font-size: 1.2rem;
    color: var(--jacarta-700);
  }
  & .field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  & label {
    color: var(--jacarta-700);
  }

  & input {
    padding: 1rem;
    font-size: 1.2rem;
    border: var(--card-border);
    background: var(--white);
    border-radius: 5px;
    transition: all 0.3s ease;

    &:focus {
      outline: 2px solid var(--teal-400);
    }
  }

  & .amountInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    justify-content: center;

    & .currencyWrapper {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      background: var(--white);
      border-top: var(--card-border);
      border-bottom: var(--card-border);
      border-right: var(--card-border);
      border-radius: 5px;
    }
    & span {
      color: var(--jacarta-400);
      font-size: 1rem;
      border-left: var(--card-border);
      padding: 0 1rem;
    }
  }

  & .minimum {
    color: var(--jacarta-400);
    font-size: 0.8rem;
  }

  & .account {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: var(--white);
    padding: 1rem;
    border: var(--card-border);
    border-radius: 5px;

    & svg {
      color: var(--jacarta-400);
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;

      & span:first-child {
        color: var(--jacarta-700);
      }
      & span:last-child {
        color: var(--jacarta-400);
        font-size: 0.8rem;
      }
    }
  }

  & button {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    width: fit-content;
    color: var(--white);
    border-radius: 3px;
    align-items: center;
    background: var(--blue-400);
    border: none;
    font-size: 1rem;
    align-self: center;
    cursor: pointer;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h1 {
    color: var(--jacarta-700);
    font-size: 1.25rem;
    text-align: center;
  }

  & p {
    color: var(--jacarta-400);
    text-align: center;
  }

  & .amount {
    color: var(--jacarta-700);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;

    & > span {
      color: var(--jacarta-400);
      font-weight: 500;
    }
  }
}
