.recentActivityCard {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: var(--card-border);
  padding: 1.5rem;
  border-radius: 5px;
  background: var(--white);
  & > svg {
    color: var(--teal-400);
  }

  & .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 2;

    & .iconBox {
      background: var(--green-300);
      padding: 0.5rem;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        font-size: 1rem;
        color: var(--green-400);
      }
    }

    & .details {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 80%;

      & p {
        color: var(--jacarta-500);
        font-size: 0.9rem;
        font-weight: 600;
        display: -webkit-box;
        line-clamp: 1;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      & div {
        color: var(--jacarta-400);
        display: flex;
        align-items: center;
        font-size: 0.9rem;

        justify-content: space-between;
      }

      & .banner {
        display: flex;
        width: 5px;
        height: 5px;
        background: var(--jacarta-400);
        border-radius: 999px;
      }

      & .status {
        text-transform: capitalize;
      }
    }
  }

  & .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    gap: 0.5rem;

    & .top {
      display: flex;
      align-items: center;
    }
    & .bottom {
      color: var(--jacarta-400);
    }
  }
  & a {
    align-self: center;
  }
  & svg {
    font-size: 0.9rem;
    align-self: center;
  }
}
