.recentActivitiesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-height: 50dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
