.selectDocumentForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & .field {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & span {
      color: var(--jacarta-700);
    }

    & .info{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
      color: var(--jacarta-400);
      font-size: 0.8rem;
    }

    & .proceedBtn{
      display: flex;
      gap: 0.5rem;
      text-decoration: none;
      padding: 0.5rem 0.7rem;
      width: fit-content;
      color: var(--white);
      border-radius: 3px;
      align-items: center;
      background: var(--blue-400);
      border: none;
      font-size: 1rem;
      align-self: center;
      cursor: pointer;
    }
  }

  & label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: var(--card-border);
    border-radius: 5px;
    cursor: pointer;

    & > svg {
      color: var(--teal-400);
    }

    & span {
      display: flex;
      align-items: center;
      gap: 1rem;

      & > p {
        color: var(--jacarta-700);
        text-transform: capitalize;
      }

      & > svg {
        color: var(--jacarta-400);
      }
    }
  }
}
