.dashboardSideNav {
  width: 18rem;
  background: var(--midnight-blue-500);
  backdrop-filter: blur(16px);
  border-right: var(--card-border);
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100%;
  z-index: 1000;

  overflow-y: scroll;

  @media (min-width: 1024px) {
    display: flex;
  }
  @media (max-width: 1200px) {
    width: 17rem;
  }

  & .sidebarHeader {
    border-bottom: 1px solid var(--jacarta-300);
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & a {
      color: var(--white);
      width: 100%;
      text-decoration: none;
      font-size: 1rem;
      padding: 1.5rem 0 1.5rem 2rem;
    }
  }

  & .accountDetailBox {
    border-bottom: 1px solid var(--jacarta-300);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.2rem 0.5rem 1.2rem 2rem;
    width: 100%;

    & .iconBox {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #816bf7;
      color: var(--white);
      padding: 0.6rem 0;
      width: 2.313rem;
      border-radius: 999px;

      font-size: 0.95rem;
      font-weight: 600;
    }

    & .nameDetails {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      & span {
        font-size: 0.9rem;
      }

      & span:first-child {
        color: var(--white);
      }
      & span:last-child {
        color: var(--jacarta-400);
      }
    }

    & svg {
      color: var(--jacarta-400);
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  & .sidebarFooter {
    border-bottom: var(--card-border);
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 1rem;
      margin: 0 1rem;
      border-radius: 0.5rem;
      color: var(--jacarta-400);
      text-decoration: none;
      transition: all 0.3s;

      & .iconBox {
        position: relative;
      }
      & svg {
        color: inherit;
      }

      &:hover {
        color: var(--white);
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }

  & .navSectionLabel {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: var(--white);
    text-decoration: none;
    font-size: 0.9rem;
  }

  & nav {
    flex: 1;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .navLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: var(--jacarta-400);
    text-decoration: none;
    transition: all 0.3s;

    & .iconBox {
      position: relative;
    }
    & svg {
      color: inherit;
    }

    &:hover {
      color: var(--white);
      background: rgba(255, 255, 255, 0.05);
    }
  }

  & nav > button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
  }

  & .navLink.active {
    background: rgba(255, 255, 255, 0.05);
    color: var(--white);
  }

  & .navFooter {
    padding: 1rem;
    border-top: var(--card-border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & hr {
    margin: 1rem 0;
    border: var(--card-border);
  }

  & .dropDown {
    width: 100%;
    right: 0;
    border-radius: 5px;
    padding: 1rem 0;

    & .top {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
    }
    & .balanceTitle {
      color: var(--jacarta-400);
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 600;
    }

    & .balance {
      display: flex;
      flex-direction: column;
      gap: .3rem;
      color: var(--blue-500);
      font-size: 0.9rem;
      & b {
        font-size: 1.3rem;
      }

      & span:last-child {
          color: var(--teal-400);
        & b {
           font-size: .9rem;
          color: var(--teal-400);
        }
      }
    }

    & .quickAction {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: var(--teal-400);
      cursor: pointer;
      gap: 1rem;

      & svg {
        font-size: 0.9rem;
      }
    }

    & hr {
      margin: 1rem 0;
      border: 1px solid var(--jacarta-300);
    }

    & .quickLinksContainer {
      display: flex;
      flex-direction: column;
    }
    & .linkItem {
      font-size: 0.9rem;
      width: 100%;

      & svg {
        font-size: 1.2rem;

        color: inherit;
      }
      & a,
      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--jacarta-400);
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        width: 100%;
        border: none;
        background: none;
        font-size: 0.9rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}
