.dashboardSideNav {
  width: 18rem;
  background: var(--midnight-blue-500);
  backdrop-filter: blur(16px);
  border-right: var(--card-border);
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100%;
  z-index: 1000;

  overflow-y: scroll;

  @media (min-width: 1024px) {
    display: flex;
  }
  @media (max-width: 1200px) {
    width: 17rem;
  }

  & .sidebarHeader {
    border-bottom: var(--card-border);
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & a {
      width: 100%;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 2rem 0 2rem 2rem;
    }
  }

  & nav {
    flex: 1;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .navLink {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: var(--jacarta-400);
    text-decoration: none;
    transition: all 0.3s;

    & .iconBox {
      position: relative;
    }
    & svg {
      color: inherit;
    }

    &:hover {
      color: var(--white);
      background: rgba(255, 255, 255, 0.05);
    }
  }

  & nav > button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
  }

  & .navLink.active {
    background: rgba(255, 255, 255, 0.05);
    color: var(--white);
  }

  & .navFooter {
    padding: 1rem;
    border-top: var(--card-border);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & hr {
    margin: 1rem 0;
    border: var(--card-border);
  }
}
