.uploadDocumentFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .uploadDocumentForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & .infoTitle {
    color: var(--jacarta-700);
  }
  & p {
    display: flex;
    color: var(--jacarta-400);
    gap: 0.5rem;
    align-items: center;
    & svg {
      color: var(--teal-400);
      font-size: 1rem;
    }
  }

  & .field {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & label {
      position: relative;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(0.5);
      }
    }

    & span {
      color: var(--jacarta-700);
    }

    & .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
      color: var(--jacarta-400);
      font-size: 0.8rem;
    }

    & .proceedBtn {
      display: flex;
      gap: 0.5rem;
      text-decoration: none;
      padding: 0.5rem 0.7rem;
      width: fit-content;
      color: var(--white);
      border-radius: 3px;
      align-items: center;
      background: var(--blue-400);
      border: none;
      font-size: 1rem;
      align-self: center;
      cursor: pointer;
    }
  }

  & .imageUploadBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 300px;
    width: 100%;
    border: var(--card-border);
    cursor: pointer;
    background: var(--white);
    overflow: hidden;
    border-radius: 5px;
  }

  & .selectImageBtn {
    color: var(--jacarta-700);
    background: var(--jacarta-300);
    width: fit-content;
    padding: 0.5rem 0.8rem;
    position: absolute;
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    & p {
      color: var(--jacarta-400);
      text-align: center;
    }

    & svg {
      font-size: 5rem;
      color: var(--teal-400);
    }
  }
}
