.warningCard {
  display: flex;
  border-radius: 5px;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 1rem;

  & .warningInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    & button {
      display: flex;
      gap: 0.5rem;
      text-decoration: none;
      padding: 0.5rem 0.7rem;
      width: fit-content;
      color: var(--white);
      border-radius: 3px;
      align-items: center;
      font-size: .9rem;
      border: none;
      cursor: pointer;
    }
  }

  & p {
    color: var(--jacarta-500);
    font-size: 1rem;
    text-align: left;
  }
}
