@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: clamp(14px, 2.2vw, 16px);
  background: #f5f7fb;
}

ul {
  list-style: none;
  padding: 0;
}
.gray-bg {
  background: #d1dce4 !important;
}

/* Gradient backgrounds */
.gradientLight,
.gradientDark {
  pointer-events: none;
  position: absolute;
  inset-inline: 0;
  top: 0;
  z-index: -10;
}

.gradientDark {
  display: none;
}

html.dark .gradientLight {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

html.dark .gradientDark {
  display: block;
}

.gradientLight img,
.gradientDark img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

.data-fetching-error {
  color: var(--red-400);
  text-align: center;
  margin-top: 15rem;
}
.error-message {
  color: var(--red-400) !important;
  margin-top: 0.3rem;
  font-size: 1rem;
}

.no-data {
  color: var(--jacarta-400);
  text-align: center;
  width: 100%;
  margin-top: 15rem;
}

.suspense-fallback {
  color: var(--jacarta-400);
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
