.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 5rem;
  }

  & .left {
    width: 100%;
    order: 1;
    margin-bottom: 2.5rem;
    text-align: center;
    @media (min-width: 1024px) {
      width: 50%;
      order: 1;
      text-align: left;
    }
  }

  & .title {
    margin-bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--jacarta-700);
  }

  & .subtitle {
    color: var(--jacarta-400);
  }

  & .buttons {
    display: inline-flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: var(--white);
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--jacarta-400);
    box-shadow: var(--button-box-shadow);
    transition: all 0.3s ease;
  }

  & .button:hover {
    background-color: var(--purple-400);
    color: var(--white);
    box-shadow: var(--button-box-shadow-hover);
  }

  & .button svg {
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    transition: fill 0.3s ease;
  }

  & .button:hover svg {
    fill: var(--white);
  }

  & .centerImage {
    order: 2;
    width: 100%;
    text-align: center;
    @media (min-width: 1024px) {
      width: 25%;
      order: 2;
      align-self: flex-end;
    }
  }

  & .right {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding-left: 1.5rem;
      width: 50%;
      order: 3;
    }
  }

  & .qrContainer {
    border-radius: 1.25rem;
    border: var(--card-border);
    background-color: var(--white);
    padding: 1.5rem;
  }

  & .highlight {
    text-align: left;
  }

  & .highlight svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 0.5rem;
    fill: var(--jacarta-700);
  }

  & .highlight span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--jacarta-700);
  }
}
