/* Main Layout */
.inner {
  display: block;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }

  .videoSection {
    position: relative;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
    flex: 1;
  }

  .videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .videoFigure {
    position: relative;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 1.5rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(17, 17, 25, 0.25);
    }
  }

  .video {
    width: 100%;
    border-radius: 1rem;
  }

  .infoSection {
    padding: 2.5rem 1.5rem;
    flex: 1;

    @media (min-width: 1024px) {
      /* width: 37%; */
      padding-left: 7rem;
    }
  }

  .heading {
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
    color: var(--jacarta-700);
    font-weight: 600;
  }

  .description {
    margin-bottom: 3rem;
    font-size: 1.125rem;
    line-height: 1.7;
    color: var(--jacarta-400);
  }

  .feature {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .icon {
    width: 32px;
    height: 32px;
    fill: var(--purple-400);
    flex-shrink: 0;
  }

  .featureTitle {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
    color: var(--jacarta-500);
  }
}
