.needHelpContainer {
  & .flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    & > div {
      flex: 1;
      position: relative;
    }
  }

  & .sectionTitle {
    margin-bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    color: var(--jacarta-700);
  }

  & .sectionText {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    color: var(--jacarta-400);
  }

  & .card {
    position: relative;
    border-radius: 1.5rem;
    padding: 2rem;
    padding-top: 4rem;
    background-color: var(--teal-400);
    box-shadow: var(--button-box-shadow);
    color: var(--white);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .cardIcon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem !important;
    color: var(--jacarta-300);
  }

  & .cardTitle {
    margin-bottom: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--white);
  }

  & .cardText {
    margin-bottom: 1rem;
    color: var(--white);
  }

  & .cardLink {
    font-weight: bold;
    color: var(--white);
    text-decoration: underline;
  }

  & .imgWrapper {
    position: relative;
    height: 18.75rem;
    width: 18.75rem;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
  }

  & .imgHero {
    width: 100%;
    height: 100%;
  }
}
