.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  /* LEFT COLUMN */
  & .left {
    width: 100%;
    @media (min-width: 1024px) {
      width: 50%;
      padding-right: 64px; /* lg:pr-16 */
    }
  }

  & .introImageWrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 27rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .introParagraph {
    margin: 2rem 0;
    color: var(--jacarta-400); /* neutral text for light mode */
    font-size: 16px;
    line-height: 1.6;
  }

  & .levelTitle {
    font-weight: 600;
    color: var(--jacarta-700);
    font-size: 16px;
  }

  & .levelDescription {
    margin-top: 4px;
    margin-bottom: 24px;
    color: var(--jacarta-400);
  }

  & .sectionHeading {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 30px; /* text-3xl */
    font-weight: 600;
    color: var(--jacarta-700);
    font-family: "Inter", sans-serif;
  }

  & .descriptionParagraph {
    margin-bottom: 24px;
    color: var(--jacarta-400);
    font-size: 16px;
    line-height: 1.6;
  }

  /* RIGHT COLUMN */
  & .right {
    width: 100%;
    @media (min-width: 1024px) {
      width: 45%;
    }
  }

  & .imageWrapper {
    display: block;
    @media (min-width: 768px) {
      display: flex; /* md:flex */
      gap: 24px; /* md:space-x-6 */
    }
    @media (min-width: 1280px) {
      gap: 48px; /* xl:space-x-12 */
    }
  }

  & .sideImage {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
