.referralInfoContainer {
  & header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 768px;
    height: 37.5rem;
    margin: auto;
    text-align: center;
  }

  & .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
