.securityContainer {
  & .headerBox {
    max-width: 650px;
    margin: 0 auto 5rem;
    text-align: center;
  }

  & .headerBox h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--jacarta-700);
    margin-bottom: 1rem;
  }

  .headerBox p {
    font-size: 1.125rem;
    color: var(--jacarta-500);
  }

  /* Grid */
  & .grid {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(1fr);
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Card */
  & .card {
    background: var(--white);
    border: var(--card-border);
    border-radius: 20px;
    padding: 2rem;
    padding-top: 0;
    text-align: center;
    transition: box-shadow 0.2s ease;
  }

  & .card:hover {
    box-shadow: var(--card-box-shadow-hover);
  }

  /* Icon wrapper */
  & .iconWrapper {
    margin-top: -2rem;
    margin-bottom: 2rem;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    background: var(--white);
    border: var(--card-border);
    display: flex;
    align-items: center;
    justify-content: center;
    & > svg {
      width: 3rem;
      height: 3rem;
      color: var(--purple-400);
    }
  }

  /* Card heading */
  & .card h3 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--jacarta-700);
  }

  & .card p {
    font-size: 0.95rem;
    color: var(--jacarta-500);
    line-height: 1.55;
  }

  /* Footer */
  & .footerText {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.125rem;
    color: var(--jacarta-500);
  }

  & .accent {
    color: var(--purple-400);
    text-decoration: none;
  }

  & .accent:hover {
    text-decoration: underline;
  }
}
