.addressField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
  margin-top: 2rem;
  width: 100%;


  & label {
    color: var(--jacarta-700);
    font-size: 0.85rem;
  }

  & .account {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: var(--white);
    padding: 1rem;
    border: var(--card-border);
    border-radius: 5px;

    & svg {
      color: var(--jacarta-400);
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;

      & span:first-child {
        color: var(--jacarta-700);
      }
      & span:last-child {
        color: var(--jacarta-400);
        font-size: 0.8rem;
      }
    }
  }
  .walletType {
    font-size: 0.7rem;
    color: var(--jacarta-500);
    font-weight: 600;
  }

  .depositAddressContainer {
    position: relative;
    width: 100%;

    & > span {
      color: var(--jacarta-400) !important;
    }

    & button {
      color: var(--jacarta-500);
      background: var(--white);
      border: none;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      height: 100%;
      position: absolute;
      padding-right: 1rem;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 0.9rem;
      z-index: 1;
      cursor: pointer;
    }
    & svg {
      font-size: 1rem;
      color: var(--teal-400);
    }
  }
}
