.copyButton {
  color: var(--jacarta-500);
  background: var(--white);
  border: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  height: 100%;
  position: absolute;
  padding-right: 1rem;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0.9rem;
  z-index: 1;
  cursor: pointer;
  & svg {
    font-size: 1rem;
    color: var(--teal-400);
  }
}
