.deleteUserButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  & button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    background: var(--red-400);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.5;
    }
  }
}
