.backdrop {
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  & .dialog {
    background: #f5f7fb;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    /* min-height: 320px; */
  }

  & .buttonGroup {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
  }

  & button {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
    width: fit-content;
    color: var(--white);
    border-radius: 3px;
    align-items: center;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    & > svg {
      font-size: 1rem;
    }
  }
}
