.textButton {
  display: inline-block;
  color: var(--teal-400);
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}
